@media (width <= 1440px) {
  .hero__images img {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero {
    margin-top: 30px;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .hero__info-link {
    margin-bottom: 20px;
  }

  .hero__info-text {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: none;
  }

  .last-news__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .last-news {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .last-news__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .last-news__article {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    min-width: 350px;
  }

  .faq {
    margin-bottom: 90px;
  }

  .faq__title {
    text-align: center;
  }

  .faq__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .faq__info::after {
    display: none;
  }

  .main__title {
    margin-top: 40px;
  }

  .main__text--second {
    margin-bottom: 50px;
  }

  .main__image-container {
    margin-bottom: 30px;
  }

  .main__list {
    margin-bottom: 40px;
  }

  .main__text-invite {
    margin-bottom: 40px;
  }
}

@media (width <= 768px) {
  .hero__info-title {
    font-size: 50px;
  }

  .last-news__article {
    min-width: 400px;
  }

  .main__title {
    font-size: 44px;
  }

  .main__play-button {
    width: 45px;
    height: 45px;
  }

  .main__play-button-triangle {
    width: 15px;
  }
}

@media (width <= 576px) {
  .hero__info-title {
    font-size: 44px;
  }

  .hero__images-badge {
    max-width: 130px;
    max-height: 60px;
    padding: 5px;
    top: 25px;
    line-height: 120%;
  }

  .hero::after {
    display: none;
  }

  .last-news {
    margin: 40px 0;
  }

  .last-news__article {
    min-width: 300px;
  }

  .last-news__title {
    text-align: center;
    font-size: 36px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .faq__title {
    font-size: 36px;
  }

  .main__title {
    font-size: 36px;
  }

  .main__subtitle {
    font-size: 30px;
    text-align: center;
  }

  .main__image-container--decor-left::after,
  .main__image-container--decor-right::after {
    display: none;
  }

  .main__play-button-triangle {
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
  }
}

@media (width <= 375px) {
  .hero__info-title {
    font-size: 36px;
  }

  .hero__images-badge {
    max-width: 95px;
    max-height: 62px;
    padding: 2px;
    top: 15px;
    line-height: 120%;
  }

  .header__note {
    display: none;
  }

  .header__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
  }

  .last-news {
    margin: 40px 0;
  }

  .last-news__article {
    min-width: 300px;
  }

  .last-news__title {
    text-align: center;
    font-size: 30px;
  }

  .faq {
    margin-bottom: 40px;
  }

  .faq__title {
    font-size: 30px;
  }

  .main__title {
    font-size: 28px;
  }

  .main__subtitle {
    font-size: 24px;
  }

  .main__play-button {
    width: 40px;
    height: 40px;
  }

  .main__play-button-triangle {
    width: 13px;
    -webkit-transform: translateX(2px) translateY(1px);
    -ms-transform: translateX(2px) translateY(1px);
    transform: translateX(2px) translateY(1px);
  }
}
