.html {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  color: var(--main-color);
  min-width: 375px; 
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  /* test */
  height: 400vh;
}

.html__body{
    background-color: var(--bg-color);
}

.html__body--no-scroll{
  overflow-y: hidden;
}

.container{
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;     
}

img{
  object-fit: cover;
}

/* focus-visible */
a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 3px;
}