body{
    background-color: #1c1a1a;
}

.container{
    display: flex;
    justify-content: center;
}

.text{
    font-size: 400%;
    color: #ffffff;
    position: relative;
    transform: translateY(15px);
}

.text::after{
    content: '';
    width: 70px;
    height: 70px;
    background-color: #5f33e3;
    display: inline-block;
    border-radius: 100%;
    border: 4px solid #ffffff;
    margin-left: 30px;
    transform: translateY(15px);
}

.text::before{
    content: '';
    width: 70px;
    height: 70px;
    background-color: #ca5858;
    display: inline-block;
    border-radius: 100%;
    border: 4px solid #ffffff;
    margin-right: 30px;
    transform: translateY(15px);
}   