*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
