.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (width < 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (width <= 450px) {
  .hero__container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.main__hero {
  background-color: var(--color-bg-hero);
}

.hero__content {
  padding-top: 80px;
  padding-bottom: 115px;
}

@media (width <= 1100px) {
  .hero__content {
    padding-top: 60px;
    padding-bottom: 85px;
  }
}

@media (width < 992px) {
  .hero__content {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.hero__title {
  font-family: var(--second-family-cyrillic);
  font-weight: 800;
  line-height: 112%;
  color: var(--color-primary);
  max-width: 576px;
  font-size: 57px;
  margin-bottom: 34px;
}

@media (width < 1100px) {
  .hero__title {
    font-size: 46px;
  }
}

@media (width < 768px) {
  .hero__title {
    margin-bottom: 20px;
  }
}

@media (width <= 576px) {
  .hero__title {
    font-size: 32px;
    max-width: 400px;
  }
}

.hero__description {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 138%;
  color: rgba(var(--color-rgba), var(--opacity-text));
  max-width: 551px;
  font-size: 16px;
  margin-bottom: 32px;
}

@media (width < 1100px) {
  .hero__description {
    font-size: 14px;
  }
}

@media (width < 768px) {
  .hero__description {
    margin-bottom: 23px;
  }
}

.hero__button {
  border-radius: 62px;
  padding: 16px 50px;
  background: var(--color-primary);
  margin-bottom: 48px;

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: var(--color-additional);
  -webkit-transition: -webkit-transform var(--transition-duration);
  transition: -webkit-transform var(--transition-duration);
  -o-transition: transform var(--transition-duration);
  transition: transform var(--transition-duration);
  transition: transform var(--transition-duration), -webkit-transform var(--transition-duration);
}

@media (width < 768px) {
  .hero__button {
    margin-bottom: 20px;
  }
}

@media (width <= 415px) {
  .hero__button {
    width: 100%;
  }
}

.hero__button:active {
  -webkit-transform: translateY(var(--translate-y-xs)) scale(var(--scale-active));
      -ms-transform: translateY(var(--translate-y-xs)) scale(var(--scale-active));
          transform: translateY(var(--translate-y-xs)) scale(var(--scale-active));
}

.hero__button:focus-visible {
  outline: 1px solid var(--color-primary);
  outline-offset: 4px;
  border-radius: 62px;
}

.hero__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (width < 582px) {
  .hero__stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (width > 1270px) {
  .hero__stats {
    gap: 29px;
  }
}

@media (1100px <= width <= 1270px) {
  .hero__stats {
    gap: clamp(13px, -5.658rem + 9.412vw, 29px);
  }
}

@media (992px < width < 1100px) {
  .hero__stats {
    gap: 19px;
  }
}

@media (width < 992px) {
  .hero__stats {
    gap: 28px;
  }
}

@media (width >= 582px) {
  .hero__stat:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (width = 581px) {
  .hero__stats {
    gap: 29px;
  }
  .hero__stat:not(:first-child) {
    padding-left: 29px;
  }
}

@media (width <= 576px) {
  .hero__stats {
    gap: 12px 28px;
  }
}

@media (width <= 581px) {
  .hero__stat:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (width > 1270px) {
  .hero__stat:not(:first-child) {
    padding-left: 29px;
  }
}

@media (1100px <= width <= 1270px) {
  .hero__stat:not(:first-child) {
    padding-left: clamp(13px, -5.658rem + 9.412vw, 29px);
  }
}

@media (992px < width < 1100px) {
  .hero__stat:not(:first-child) {
    padding-left: 19px;
  }
}

@media (576px < width < 992px) {
  .hero__stat:not(:first-child) {
    padding-left: 28px;
  }
}

@media (width <= 576px) {
  .hero__stat:nth-child(2) {
    padding-left: 28px;
  }
}
@media (470px <= width <= 576px) {
  .hero__stat:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.hero__stat-value {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-primary);
}

@media (width >= 1100px) {
  .hero__stat-value {
    font-size: 40px;
  }
}

@media (width < 1100px) {
  .hero__stat-value {
    font-size: 30px;
  }
}

@media (width <= 576px) {
  .hero__stat-value {
    font-size: 24px;
  }
}

.hero__stat-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: rgba(var(--color-rgba), var(--opacity-text));
  white-space: nowrap;
}

@media (width < 1100px) {
  .hero__stat-text {
    font-size: 14px;
  }
}

@media (width <= 576px) {
  .hero__stat-text {
    font-size: 12px;
    line-height: 183%;
  }
}

.hero__img {
  display: block;
}
@media (width <= 450px) {
  .hero__img {
    width: 100%;
    height: auto;
    height: 440px;
  }
}

@media (width <= 450px) {
  .hero__media {
    width: calc(100% + var(--container-padding-x) * 2);
    margin-inline: calc(var(--container-padding-x) * -1);
  }
}

.hero__image-wrap {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (width <= 450px) {
  .hero__image-wrap {
    width: 100%;
  }
}

.hero__decor {
  position: absolute;
  color: var(--color-primary);
}

.hero__decor--desktop-small,
.hero__decor--desktop-big,
.hero__decor--mobile-small,
.hero__decor--mobile-big {
  display: none;
}

.hero__decor--desktop-small {
  top: 297px;
}

.hero__decor--desktop-big {
  top: 86px;
  right: 0px;
}

@media (width > 1100px) {
  .hero__decor--desktop-small,
  .hero__decor--desktop-big {
    display: block;
  }
}

@media (992px <= width <= 1100px) {
  .hero__decor--mobile-small,
  .hero__decor--mobile-big {
    display: block;
  }

  .hero__decor--mobile-small {
    top: 220px;
    left: 0;
  }

  .hero__decor--mobile-big {
    top: 60px;
    right: 0;
  }
}

@media (576px < width < 992px) {
  .hero__decor--desktop-small,
  .hero__decor--desktop-big {
    display: block;
  }
}

@media (width <= 576px) {
  .hero__decor--mobile-small,
  .hero__decor--mobile-big {
    display: block;
  }

  .hero__decor--mobile-small {
    top: 137px;
    left: 27px;
  }

  .hero__decor--mobile-big {
    top: 40px;
    right: 21px;
  }
}