* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1220px;
  border-bottom: #5d5a5a56 solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.link {
  color: #000;
  text-decoration: none;
}

.phone {
  color: #000;
  text-decoration: none;
}
