form {
  max-width: 300px;
  font-family: sans-serif;
}

.fieldset {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: block;
  font-weight: 700;
  margin: 0px 0px 7px;
}

.field {
  display: block;
}

.field-text {
  display: block;
  margin-bottom: 3px;
}

.input {
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 13px;
  min-width: 200px;
  padding: 5px;
}

.textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 30px;
}

.checkbox {
  cursor: pointer;
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
}
