* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

.table-name {
  border: 1px solid #a70fb8;
  border-bottom: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

td,
th {
  border: 1px solid #a70fb8;
}

.day-off {
  color: #ff0000;
}
