.container_article{
  max-width: 1220px;
  margin: 0 auto;
}

.article-title {
  max-width: 1220px;
  text-transform: uppercase;
  color: #2c332f;
  font-family: Oswald;
  font-weight: 600;
  font-size: 48px;
  max-width: 600px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.article-text {
  font-family: Ubuntu;
  line-height: 130%;
  font-weight: 400;
  color: #535755;
  margin: 0;
}

.article-text-first {
  margin-bottom: 20px;
}

.article-text-second {
  margin-bottom: 80px;
}

.article-image-container {
  position: relative;
}

.image-decor-left::before {
  content: "";
  background: url(../images/decor.svg) no-repeat;
  width: 528px;
  height: 48px;
  position: absolute;
  top: 100px;
  left: -350px;
  z-index: -1;
}

.image-container-1 {
  margin-bottom: 80px;
}

.article-subtitle {
  font-size: 36px;
  font-family: Oswald;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #2c332f;
  margin-top: 0;
}

.article-subtitle-text {
  max-width: 744px;
  margin-bottom: 20px;
}

.article-list {
  list-style: none;
  padding: 0;
  margin: 0 0 80px;
  position: relative;
}

.article-list-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3596ed;
}

.article-list-item {
  font-family: Ubuntu;
  font-weight: 400;
  line-height: 130%;
  color: #535755;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.image-container-2 {
  margin-bottom: 40px;
}

.image-decor-right::before {
  content: "";
  background: url(../images/decor.svg) no-repeat;
  width: 528px;
  height: 48px;
  position: absolute;
  bottom: 136px;
  right: -350px;
  z-index: -1;
}

.article-play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.play-button-triangle {
  width: 24px;
  height: 24px;
}

.article-text-invite {
  margin-bottom: 120px;
}
