.hero {
  position: relative;
}

@media (width >= 576px) {
  .hero {
    margin-bottom: 94px;
  }
}

@media (width < 576px) {
  .hero {
    margin-bottom: 80px;
  }
}

.hero__container {
  position: relative;
  /* min-width: 375px - max-width: 900px */
  min-height: clamp(350px, 9.152rem + 54.286vw, 635px);
  display: flex;
  flex-direction: column;
  margin-top: 92px;
}

.hero__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (width >= 768px) {
  .hero__header {
    padding-top: 15px;
  }
}
@media (width < 768px) {
  .hero__header {
    /* min-width: 375px - max-width: 767px */
    padding-bottom: clamp(28px, 9.323rem + -15.776vw, 90px);
  }
}

.hero__qualities {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (width < 768px) {
  .hero__header {
    flex-direction: column;
    align-items: unset;
  }
  .hero__qualities {
    position: unset;
  }
}

.hero__quality {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 130%;
  color: var(--secondary-color);
}

@media (width >= 768px) {
  .hero__quality {
    font-size: 16px;
  }
}
@media (width < 768px) {
  .hero__quality {
    font-size: 14px;
  }
}

.hero__title {
  text-transform: uppercase;
  /* min-width: 375px - max-width: 1920px */
  font-size: clamp(48px, 1.7864rem + 5.178vw, 128px);
  font-weight: 600;
  line-height: 130%;

  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 375px - max-width: 1920px */
  gap: clamp(8px, 0.09rem + 1.748vw, 35px);
}

@media (width >= 512px) {
  .hero__title-accent {
    -webkit-text-stroke: 3px var(--accent-color);
    color: transparent;
  }
}
@media (width < 512px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent-color);
    color: transparent;
  }
}

.hero__sneaker-img {
  top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--layer-minus-1);
}

.hero__footer {
  text-align: end;
}

.hero__link {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
  transition:
    color var(--transition-delay),
    transform var(--transition-delay);
}

.hero__link::after {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;

  background-color: var(--main-color);
  mask: url("../../icon/chevrons-right.svg") center / contain no-repeat;
  transition:
    color var(--transition-delay),
    transform var(--transition-delay);
}

@media (any-hover: hover) {
  .hero__link:hover {
    color: var(--accent-color);
  }

  .hero__link:hover::after {
    background-color: var(--accent-color);
  }
}

.hero__link:active,
.hero__link:active::after {
  color: var(--accent-color);
  transform: translateY(var(--translate-y)) scale(var(--scale-value));
}
