@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: url("../../fonts/IntegralCF-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: url("../../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/inter_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

 /* Integral CF */
@font-face {
  font-family: "Exo2";
  src: url("../../fonts/Exo2-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

 /* Integral CF */
@font-face {
  font-family: "Exo2";
  src: url("../../fonts/Exo2-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

 /* Integral CF */
@font-face {
  font-family: "Exo2";
  src: url("../../fonts/Exo2-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
