body{
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 150%;
    background-color: #181E34;
}

.container{
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ----------------------------------------------------------- */

.header{
    padding: 30px 0 36px;
}

.header_inner{
    display: flex;
    align-items: center;
}

.header_nav{
    margin-left: auto;
}

.header_nav_inner{
    display: flex;
}

.nav_inner_item{
    margin-right: 30px;
}

.header_button{
    border-radius: 100px;
    font-weight: 500;
    color: #2766AE;
    background-color: #fff;
    padding: 14px 30px;
    margin: 0 6px 0 4px;
    height: 48px;
    width: 113px;
}

/* ----------------------------------------------------------- */

.main{
    padding-bottom: 120px;
}

.section1{
    height: 508px;
    margin: 0 auto;
    background: url(../img/background.jpg) 10% 50% / cover no-repeat;
    padding-top: 120px;
}

.section1_headline{
    height: 49px;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-right: 42px;
    margin-bottom: 60px;
}

.section1_inner{
    display: flex;
    justify-content: space-between;
}

.section1_inner_text{
    width: 436px;
    height: 72px;
}

.section1_inner_text p{
    padding-bottom: 15px;
}

.section1_inner_text span{
    color: #01A2CB;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    white-space: pre;
}

.section1_buttons{
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section1_button-1{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    gap: 4px;
}

.section1_button-2{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
    gap: 4px;
}

.section2{
    padding-top: 120px;
}

.section2_headline{
    height: 49px;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.section2_text{
    display: flex;
    justify-content: center;
    max-width: 513px;
    display: flex;
    margin: 15px auto 60px;
    text-align: center;
    justify-content: center;
}

.section2_table{
    width: 900px;
    height: 310px;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.table_block{
    width: 204px;
    height: 141px;
    display: inline-block;
    background-color: #197CB8;
    border-radius: 16px;
    padding: 28px 28px 28px 28px;
    border: 2px solid #176BAE;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    align-self: start;
}

.block_headline{
    width: 148px;
    margin: -2px 0px 0px -2px;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.block_text{
    width: 144px;
    text-align: center;
}

.section2_button{
    width: 436px;
    height: 56px;
    padding: 18px 30px;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

/* ----------------------------------------------------------- */

.footer{
    border-top: 1px solid #323952;
    padding-top: 60px;
}

.footer_section{
    width: 811px;
    height: 241px;
    display: flex;
    justify-content: space-between;
    /* padding-left: 270px; */
    /* padding-top: 60px; */
}

.footer_article_1{
    width: 267px;
    height: 159px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 197px;
}

.footer_logo{
    width: 48px;
    height: 48px;
}

.footer_text_1{
    display: flex;
    text-align: center;
    width: 267px;
    text-align: start;
}

.h4{
    font-weight: 600;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer_menus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu{
    text-align: center;
}

.footer_article_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 117px;
}

.footer_article_3{
    display: flex;
    flex-direction: column;
    align-items: start;
}